.container {
    border: 1px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-avatar {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
  }
  
  .profile-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  }
  
  .profile-item {
    text-align: center;
    border: 1px solid;
    padding:8px 42px 8px 42px;
    background: grey;
    color: #333;
  }
  
  .profile-item span:first-child {
   margin-bottom: 8px;
  }
  
  .profile-item span:last-child {
    color: #333; 
    font-weight: bold;
  }
  .followers {
    display: flex;
  
  }
  .view {
    display: flex;
   
  }
  .likes {
    display: flex;
    
  }
  .name {
    margin-bottom: 8px;
  }
  .tag {
    margin-bottom: 8px;
  }
  .location {
    margin-bottom: 8px;
  }