.name {
    font-weight: bold;
}
.container-friend {
    padding: 15px;
    border: 2px solid #333;
    border-radius: 8px;
}

.online {
    color:green;
}
.offline {
    color: red;
}
.avatar {
    margin-bottom:8px;
}